<div class="card">
  <div class="card-header border-0 pt-6">
    <!--begin::Card title-->
    <div class="card-title">
      <!--begin::Search-->
      <div class="d-flex align-items-center position-relative my-1">
        <app-keenicon name="magnifier" class="fs-3 position-absolute ms-5"></app-keenicon>
        <input type="text" data-action="filter" class="form-control form-control-solid w-250px ps-12" placeholder="Search Users">
      </div>
      <!--end::Search-->
    </div>
    <!--begin::Card title-->

    <!--begin::Card toolbar-->
    <div class="card-toolbar">
      <!--begin::Toolbar-->
      <div class="d-flex justify-content-end">
        <!--begin::Add user-->
        <button type="button" class="btn btn-primary" data-action="create">
          Add College
        </button>
        <!--end::Add user-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card toolbar-->
  </div>

  <div class="card-body pt-0">
    <app-crud [datatableConfig]="datatableConfig" (deleteEvent)="delete($event)" (editEvent)="edit($event)" (createEvent)="create()" [reload]="reloadEvent" [modal]="formModal"></app-crud>
  </div>
</div>

<swal #noticeSwal [swalOptions]="swalOptions">
</swal>

<ng-template #formModal let-modal>
  <form #myForm="ngForm" (ngSubmit)="onCreateSubmit($event, myForm)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">College Details</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="d-flex flex-column scroll-y me-n7 pe-7" id="kt_modal_update_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_update_customer_header" data-kt-scroll-wrappers="#kt_modal_update_customer_scroll"
        data-kt-scroll-offset="100px">
        <!--begin::Notice-->
        <div class="notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6">
          <!--begin::Icon-->
          <app-keenicon name="information" class="fs-2tx text-primary me-4"></app-keenicon>
          <!--end::Icon-->
          <!--begin::Wrapper-->
          <div class="d-flex flex-stack flex-grow-1">
            <!--begin::Content-->
            <div class="fw-semibold">
              <div class="fs-6 text-gray-700">Adding a new college details will receive a privacy audit. For more info,
                please read our
                <a href="#">Privacy Policy</a>
              </div>
            </div>
            <!--end::Content-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Notice-->

       
        <!--begin::User form-->
        <div class="collapse show">
          <div class="row">
            <!--begin::Input group: Name-->
            <div class="col-md-6 fv-row mb-7">
              <label class="required fw-semibold fs-6 mb-2">Name</label>
              <input type="text" class="form-control form-control-solid" name="name" [(ngModel)]="collegeModel.Name" #name="ngModel" required minlength="4" />
              <div *ngIf="myForm.submitted && myForm.invalid" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                <div *ngIf="name.errors?.['required']">Name is required</div>
                <div *ngIf="name.errors?.['minlength']">Name must be at least 4 characters long</div>
              </div>
            </div>
            <!--end::Input group: Name-->

            <!--begin::Input group: Email-->
            <div class="col-md-6 fv-row mb-7">
              <label class="required fw-semibold fs-6 mb-2">
                <span>Email</span>
                <span class="ms-1" placement="end" ngbTooltip="Email address must be active">
                  <app-keenicon name="information" class="fs-7"></app-keenicon>
                </span>
              </label>
              <input type="email" class="form-control form-control-solid" name="email" [(ngModel)]="collegeModel.EmailAddress" #email="ngModel" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
              <div *ngIf="myForm.submitted && myForm.invalid" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                <div *ngIf="email.errors?.['required']">Email is required</div>
                <div *ngIf="email.errors?.['pattern']">Email is not valid</div>
              </div>
            </div>
            <!--end::Input group: Email-->
          </div>

          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <label class="fw-semibold fs-6 mb-2">Contact Number</label>
            <input type="tel" class="form-control form-control-solid" name="phone" [(ngModel)]="collegeModel.ContactNumber" #phone="ngModel" pattern="^[0-9\-\+\s\(\)]{7,20}$" />
            <div *ngIf="myForm.submitted && phone.errors?.['pattern']" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>Phone number is not valid</div>
            </div>
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <label class="fw-semibold fs-6 mb-2">Address</label>
            <input type="text" class="form-control form-control-solid" name="address" [(ngModel)]="collegeModel.Address" #address="ngModel" maxlength="200" />
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <label class="fw-semibold fs-6 mb-2">Website</label>
            <input type="url" class="form-control form-control-solid" name="website" [(ngModel)]="collegeModel.Website" #website="ngModel" pattern="https?://.+" />
            <div *ngIf="myForm.submitted && website.errors?.['pattern']" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>Website must be a valid URL</div>
            </div>
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <label class="fw-semibold fs-6 mb-2">Established Year</label>
            <input type="number" class="form-control form-control-solid" name="establishedYear" [(ngModel)]="collegeModel.EstablishedYear" #establishedYear="ngModel" min="1800" max="2099" />
            <div *ngIf="myForm.submitted && (establishedYear.errors?.['min'] || establishedYear.errors?.['max'])" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
              <div>Year must be between 1800 and 2099</div>
            </div>
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="fv-row mb-7">
            <label class="fw-semibold fs-6 mb-2">Description</label>
            <textarea class="form-control form-control-solid" name="description" [(ngModel)]="collegeModel.Description" #description="ngModel" rows="3" maxlength="500"></textarea>
          </div>
          <!--end::Input group-->

        </div>
        <!--end::User form-->
      </div>
    </div>
    <div class="modal-footer flex-center">
      <!--begin::Button-->
      <button type="reset" id="kt_modal_update_customer_cancel" class="btn btn-light me-3" (click)="modal.dismiss('cancel')">
        Discard
      </button>
      <!--end::Button-->

      <!--begin::Button-->
      <button type="submit" id="kt_modal_update_customer_submit" class="btn btn-primary" [attr.data-kt-indicator]="isLoading ? 'on' : 'off'">
        <span class="indicator-label">
          Submit
        </span>
        <span class="indicator-progress">
          Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </button>
      <!--end::Button-->
    </div>
  </form>
</ng-template>
